* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  line-height: 1.5;
  background-color: #f4fdff;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  /* cursor: url('../Images/cursor.png'), auto; */
  /* cursor: url('https://assets-global.website-files.com/6241d482577d36e4fcc61c48/627152597c21622c41a298db_1F638%201.png'), auto; */
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  display: block;
}

.pc {
  display: block;
}

.sp {
  display: none;
}

.txt-red {
  color: #ea5455;
}

.txt-yellow {
  color: #eac100;
}

.txt-blue {
  color: #28c7fa;
}

.sub-ttl {
  font-size: 1.6em;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 1540px;
}

.l-inner {
  padding: 20px 30px;
}

.center {
  text-align: center;
}

.h-logo {
  width: 100%;
  max-width: 252px;
}

label {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

/* top-page */
header {
  border-bottom: 1px solid #03045E;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.h-nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

nav a {
  position: relative;
  margin-right: 20px;
  padding-bottom: 5px;
  color: #0077B6;
  font-size: 16px;
}

nav a::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  height: 2px;
  background-color: #0077B6;
  content: '';
  transform: translateX(-50%) scaleX(0);
  transition: transform 200ms ease-in-out;
}

nav a:hover::after {
  transform: translateX(-50%) scaleX(1);
}

nav a.active::after {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #0077B6;
  content: '';
  transform: translateX(-50%) scaleX(1);
}

.login-btn {
  padding: 4px 12px;
  background-color: #00B4D8;
  color: #ffffff;
  font-size: 24px;
  transition: all 300ms ease-in-out;
  border-radius: 50%;
}

.login-btn:hover {
  background-color: #fff;
  color: #00B4D8;
}

.cmn-btn {
  padding: 8px 16px;
  background-color: #00B4D8;
  color: #03045E;
  font-size: 24px;
  transition: all 300ms ease-in-out;
  border-radius: 15px;
}

.cmn-btn:hover {
  background-color: #03045E;
  color: #00B4D8;
}

.search-form {
  display: flex;
  position: relative;
  justify-content: flex-end;
  margin-right: 30px;
}

.search-form.sp {
  display: none;
}

input.search-box {
  width: 200px;
  padding: 8px 20px;
  background-color: #00B4D8;
  transition: all 300ms ease-in-out;
  border-radius: 20px;
  border:none;
  outline: none;
}

input.search-box:focus {
  width: 250px;
}

.search-ico {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.search-ico .fa-search {
  color: #d8f8ff;
}

/* main-visual */
.mv-heading {
  margin-bottom: 40px;
  color: #0077B6;
  font-family: "Reddit Sans";
  font-size: 48px;
  animation: slideInLeft 1s ease forwards;
}

.mv-sec {
  display: flex;
  justify-content: center;
}

.mv-sec .mv-left {
  width: 45%;
}

.mv-sec .mv-right {
  width: 400px;
  animation: slideInRight 1s ease forwards;
}

.mv-sec .mv-right .mv-right-img {
  width: 100%;
}

.mv-sec .mv-left p {
  margin-bottom: 30px;
  color: #03045E;
  font-size: 20px;
  letter-spacing: 1.5px;
  animation: slideInLeft 1s ease forwards 150ms;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* sec stay safe */
.sec-staysafe {
  padding: 40px 0;
  background-color: #e0fffb;
}

.sub-heading {
  margin-bottom: 20px;
  color: #0077B6;
  font-size: 2em;
}

.sub-heading+p {
  color: #03045E;
}

.accordion {
  margin-top: 20px;
}

.accordion-item {
  overflow: hidden;
  margin-bottom: 20px;
  /*border: 2px solid #0056b3;*/
  border-radius: 5px;
}

.accordion-header {
  position: relative;
  padding: 15px;
  background: #CAF0F8;
  color: #0056b3;
  font-size: 18px;
  text-align: left;
  cursor: pointer;
  transition: all 0.3s ease;
}

.accordion-header::after {
  position: absolute;
  top: 50%;
  right: 15px;
  color: #0056b3;
  content: '⮛';
  transform: translateY(-50%);
  transition: transform 0.3s ease;
}

.accordion-header:hover:after {
  color: #fff;
}

.accordion-header.show::after {
  color: #fff;
  transform: translateY(-50%) rotate(180deg);
}

.accordion-header:hover,
.accordion-header.show {
  background: #0056b3;
  color: #fff;
}

.accordion-content {
  overflow: hidden;
  padding: 0 15px;
  background: #f1f1f1;
  transform: translateY(-100px);
  transition: max-height 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
  max-height: 0;
  opacity: 0;
}

.accordion-content.show {
  padding: 15px;
  transform: translateY(0);
  max-height: 500px;
  opacity: 1;
}

.accordion-content p {
  margin: 10px 0;
}

/* sec-popular-app */
.sec-popular-apps {
  padding: 30px 0;
}

.popular-apps {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
  gap: 40px;
}

.app {
  width: 30%;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  background: #fff;
  transition: transform 0.2s;
  border-radius: 10px;
}

.app:hover {
  transform: translateY(-5px);
}

.app-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

/* login */
.auth-header {
  padding: 20px;
}

.form-fill-blk {
  display: flex;
  position: relative;
  width: 90%;
  margin: 30px auto;
  background-color: #90E0EF;
}

.form-fill-blk h2 {
  font-size: 64px;
  font-weight: 600;
  text-align: center;
}

.form-sec {
  width: calc(100% - 600px);
  padding: 20px;

}

.form-sec form {
  width: 70%;
  margin: 10% auto;
}

.right-bnr {
  width: 100%;
  height: 100%;
  max-width: 600px;
  object-fit: cover;
}

.form-input-blk {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #00B4D8;
}

.form-input-blk label {
  width: 120px;
  letter-spacing: 1.2px;
}

.form-input-blk input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  outline: none;
  border: none;
  background: transparent;
  border-radius: 4px;
  flex-grow: 1;
}

.btn-blk {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

input[type="submit"].form-btn {
  display: inline-block;
  width: fit-content;
  padding: 8px 14px;
  background-color: #00B4D8;
  cursor: pointer;
  border: none;
  font-size: 20px;
  transition: all 300ms ease-in-out;
  border-radius: 15px;
}

input[type="submit"].form-btn:hover {
  background-color: #CAF0F8;
  color: #00B4D8;
}

.signuphere-blk {
  padding-right: 20px;
  text-align: right;
  letter-spacing: 1.2px;
}

.signuphere-blk a {
  color: #03045E;
  font-weight: 700;
  transition-duration: 300ms;
}

.signuphere-blk a:hover {
  color: #d8f8ff;
}

.back-arr {
  position: absolute;
  bottom: 20px;
  left: -25px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.back-arr:hover {
  transform: translateX(-20px);
}

.back-arr-img {
  width: 40px;
}

/* information */
.info-section {
  margin: 30px auto;
  max-width: 1100px;
}

.info-section .sub-heading {
  color: #ea5455;
}

.mission-vision-values {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.mission-vision-values .col {
  position: relative;
  flex: 1;
  margin: 0 10px;
  padding: 10px;
  text-align: center;
}

.col:not(:last-child)::after {
  position: absolute;
  top: 5%;
  right: -5px;
  width: 1px;
  height: 50%;
  background-color: #ccc;
  content: '';
}

.mission-vision-values .col img {
  width: 150px;
  margin: 20px auto;
}

.campaigns-section {
  padding-top: 40px;
  background-color: #f9f9f9;
}

.campaign {
  display: flex;
  align-items: center;
}

.campaign:first-of-type {
  border-top: 1px solid #a6a6a6;
}

.campaign-image {
  width: 50%;
}

.campaign-detail {
  width: 50%;
  padding-left: 30px;
}

.campaign h3 {
  margin-bottom: 20px;
  color: #4CAF50;
  font-size: 1.7em;
}

.row-reverse {
  flex-direction: row-reverse;
}

.row-reverse .campaign-image {
  margin-left: 20px;
}

/* footer */
footer {
  padding: 20px;
  background-color: #6e6e6e;
  color: #fff;
  text-align: center;
}

.footer-content {
  margin: 0 auto;
  max-width: 800px;
}

.current-page {
  margin: 0;
  font-size: 16px;
}

.copyright {
  margin: 10px 0;
  font-size: 14px;
}

.social-media {
  margin-top: 10px;
}

.social-icon {
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.social-icon:hover {
  color: #ffcc00;
}

/* popular-apps */

.apps-gp {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px 0 50px;
  gap: 20px;
}

.app-card {
  width: 300px;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  text-align: center;
  border-radius: 8px;
}


.app-card img {
  width: 80px;
  height: 80px;
  margin: 0 auto 20px;
}

.app-card h3 {
  margin-bottom: 10px;
  font-size: 1.5em;
}

.app-card p {
  color: #555;
  font-size: 0.9em;
}

/* parents help */
.tips {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.tip-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px;
  width: 300px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: translateY(100px);
  opacity: 0;
  transition: transform 0.6s ease-out, opacity 0.6s ease-out;
}

.tip-card.visible {
  transform: translateY(0);
  opacity: 1;
}

.tip-card img{
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.tip-card h3 {
  padding: 0 15px;
  margin: 10px 0;
}

.tip-card p {
  padding: 0 15px;
  margin: 10px 0;
}

.button-container {
  padding: 15px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.read-more {
  background: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.read-more:hover {
  background: #0056b3;
}

/* livestream */
.overview{
  padding: 20px 20px 50px;
}
.safety-tips {
  position: relative; 
  padding: 80px 20px; 
  color: #fff; 
  overflow: hidden; 
  z-index: 1; 
}

.background-overlay {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  background: url('../Images/bg.jpg') no-repeat center/cover; 
  filter: blur(3px);
  z-index: 0; 
}

.dark-overlay {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0;
  background: rgba(0, 0, 0, 0.4); 
  z-index: 1; 
}

.safety-tips h2, .safety-tips ul {
  position: relative; 
  z-index: 2; 
}

.safety-tips ul {
  list-style-type: disc;
  margin-left: 20px;
}

.safety-tips li {
  margin: 10px 0;
  font-size: 1em;
}

/* contact */
.contact-container {
  display: flex; 
  justify-content: space-between; 
  margin: 20px auto; 
  max-width: 1200px; 
  flex-wrap: wrap; 
}

.contact-info img{
  width: 300px;
  margin: 0 auto;
}

.contact-info h2{
  margin-bottom: 0;
}

.contact-info a{
  color: #0077B6;
  transition: all 0.3s ease;
}

.contact-info a:hover{
  color: #00B4D8;
}

.contact-desc{
  margin-top: 0;
  margin-bottom: 30px;
}

.contact-info ul{
  list-style-type: none;
  text-align: center;
}
.contact-info ul li{
  margin-bottom: 15px;
}

.contact-form {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin: 10px; 
  flex: 1; 
  min-width: 300px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.map {
  margin: 20px auto; 
  max-width: 600px; 
}

.map iframe {
  width: 100%; 
  height: 300px; 
  border: 0; 
}

.contact-form {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin: 20px auto;
  max-width: 500px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%; 
  padding: 10px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  resize: none;
}

.form-group input[type="checkbox"] {
  display: inline;
  margin-right: 5px; 
 width: fit-content;
  vertical-align: middle;
}

.form-group .agree-lbl{
  display: inline;
}

.send-msg {
  background: #00B4D8; 
  color: #fff; 
  border: none; 
  padding: 10px 15px; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: all 0.3s; 
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
}

.send-msg:hover {
  background: #0077B6; 
}

.privacy-policy{
  padding: 30px 20px;
}

.privacy-policy h3{
  margin-top: 30px;
}

.privacy-policy ul{
  margin-left: 20px;
}

/* guide */
.legislation-guidance{
  max-width: 1080px;
  margin: 20px auto 80px;
}
.lg-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px 0 80px;
}

.lg-card {
  border: 1px solid #ddd;
  padding: 40px;
  width: calc(45% - 20px); 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.lg-card img {
 width: 100px;
 margin: 0 auto 30px;
}

.lg-card h3{
  margin-bottom: 10px;
}

.best-practices {
  margin-top: 40px;
  list-style-type: none;
  padding: 0;
}

.best-practices li {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.best-practices li i {
  color: #28a745; 
  margin-right: 10px;
  font-size: 20px;
}
.best-practices li strong {
  width: 195px;
}
.best-practices li span {
  flex: 1;
}
/*tablet*/
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  body {
    font-size: 1.5vw;
  }

  .wrapper {
    max-width: 100vw;
  }

  input {
    padding: 0.57vw;
    font-size: 1.14vw;
    letter-spacing: 0.07vw;
    border-radius: 0.29vw;
  }

  input[type="submit"] {
    padding: 0.57vw 1vw;
    border-radius: 1.07vw;
  }

  .h-logo {
    max-width: 18vw;
  }

  label {
    font-size: 1.14vw;
  }

  /* top-page */
  header {
    border-bottom: 0.08vw solid #03045E;
  }

  .h-nav {
    gap: 1.67vw;
  }

  nav a {
    margin-right: 0.83vw;
    padding-bottom: 0.42vw;
    font-size: 1.43vw;
  }

  nav a::after {
    height: 0.17vw;
  }

  .login-btn {
    padding: 0.33vw 1vw;
    font-size: 2vw;
  }

  .cmn-btn {
    padding: 0.67vw 1.33vw;
    font-size: 2vw;
    border-radius: 1.25vw;
  }

  input.search-box {
    width: 16.67vw;
    padding: 0.67vw 1.67vw;
    border-radius: 1.67vw;
  }

  input.search-box:focus {
    width: 20.83vw;
  }

  .search-ico {
    right: 0.83vw;
  }

  /* main-visual */
  .mv-heading {
    margin-bottom: 3.33vw;
    font-size: 4vw;
  }

  .mv-sec .mv-right {
    width: 33.33vw;
  }

  .mv-sec .mv-right .mv-right-img {
    width: 100%;
  }

  .mv-sec .mv-left p {
    margin-bottom: 2.5vw;
    color: #03045E;
    font-size: 1.67vw;
    letter-spacing: 0.13vw;
    animation: slideInLeft 1s ease forwards 150ms;
  }

  /* sec stay safe */
  .sec-staysafe {
    padding: 3.33vw 0;
  }

  .sub-heading {
    margin-bottom: 1.67vw;
  }

  .accordion {
    margin-top: 1.67vw;
  }

  .accordion-item {
    margin-bottom: 1.67vw;
    border: 0.17vw solid #0056b3;
    border-radius: 0.42vw;
  }

  .accordion-header {
    padding: 1.25vw;
    font-size: 1.5vw;
  }

  .accordion-header::after {
    right: 1.25vw;
  }

  .accordion-content {
    padding: 0 1.25vw;
    transform: translateY(-8.33vw);
  }

  .accordion-content.show {
    padding: 1.25vw;
    max-height: 41.67vw;
  }

  .accordion-content p {
    margin: 0.83vw 0;
  }

  /* sec-popular-app */
  .sec-popular-apps {
    padding: 2.5vw 0;
  }

  .popular-apps {
    margin-top: 2.5vw;
    gap: 3.33vw;
  }

  .app {
    padding: 1.67vw;
    box-shadow: 0 0.33vw 1.67vw rgba(0, 0, 0, 0.1);
    border-radius: 0.83vw;
  }

  .app:hover {
    transform: translateY(-0.42vw);
  }

  .app-icon {
    width: 4.17vw;
    height: 4.17vw;
    margin-bottom: 0.83vw;
  }

  /* login */
  .auth-header {
    padding: 1.43vw;
  }

  .form-fill-blk {
    margin: 2.14vw auto;
  }

  .form-fill-blk h2 {
    font-size: 4.57vw;
  }

  .form-sec {
    width: calc(100% - 42.86vw);
    padding: 1.43vw;

  }

  .right-bnr {
    max-width: 42.86vw;
  }

  .form-input-blk {
    padding: 0.71vw;
    border-bottom: 0.07vw solid #00B4D8;
  }

  .form-input-blk label {
    width: 10vw;
    letter-spacing: 0.09vw;
  }

  .form-input-blk input {
    padding: 0.67vw;
    font-size: 1.33vw;
    letter-spacing: 0.08vw;
    border-radius: 0.33vw;
  }

  .btn-blk {
    margin-top: 2.14vw;
  }

  input[type="submit"].form-btn {
    padding: 0.67vw 1.17vw;
    font-size: 1.67vw;
    border-radius: 1.25vw;
  }

  .signuphere-blk {
    padding-right: 1.43vw;
    letter-spacing: 0.09vw;
  }

  .back-arr {
    bottom: 1.43vw;
    left: -1.79vw;
  }

  .back-arr:hover {
    transform: translateX(-1.43vw);
  }

  .back-arr-img {
    width: 2.86vw;
  }

  /* information */
  .info-section {
    margin: 2.5vw auto;
    max-width: 91.67vw;
  }

  .mission-vision-values {
    margin-top: 4.17vw;
  }

  .mission-vision-values .col {
    margin: 0 0.83vw;
    padding: 0.83vw;
    border-radius: 0.42vw;
  }

  .col:not(:last-child)::after {
    top: 5%;
    right: -0.42vw;
    width: 0.17vw;
  }

  .mission-vision-values .col img {
    width: 12.5vw;
    margin: 1.67vw auto;
  }

  .campaigns-section {
    padding-top: 3.33vw;
  }

  .campaign:first-of-type {
    border-top: 0.08vw solid #a6a6a6;
  }

  .campaign-detail {
    padding-left: 2.5vw;
  }

  .campaign h3 {
    margin-bottom: 1.67vw;
  }

  .row-reverse .campaign-image {
    margin-left: 1.67vw;
  }

  /* footer */
  footer {
    padding: 1.67vw;
  }

  .footer-content {
    max-width: 66.67vw;
  }

  .current-page {
    font-size: 1.33vw;
  }

  .copyright {
    margin: 0.83vw 0;
    font-size: 1.17vw;
  }

  .social-media {
    margin-top: 0.83vw;
  }

  .social-icon {
    margin: 0 0.83vw;
  }

  /* popular-apps */

  .apps-gp {
    padding: 2.5vw 0 4.17vw;
    gap: 1.67vw;
  }

  .app-card {
    width: 25vw;
    padding: 1.67vw;
    border: 0.08vw solid #ddd;
    box-shadow: 0 0.17vw 0.42vw rgba(0, 0, 0, 0.1);
    transform: translateY(8.33vw);
    border-radius: 0.67vw;
  }

  .app-card img {
    width: 6.67vw;
    height: 6.67vw;
    margin: 0 auto 1.67vw;
  }

  .app-card h3 {
    margin-bottom: 0.83vw;
  }

  /* livestream */
.overview{
  padding: 1.67vw 1.67vw 4.17vw;
}
.safety-tips {
  padding: 6.67vw 1.67vw; 
}

.safety-tips ul {
  margin-left: 1.67vw;
}

.safety-tips li {
  margin: 0.83vw 0;
}

/* contact */
.contact-container {
  margin: 1.67vw auto; 
  max-width: 100vw;
}

.contact-info {
  padding: 2vw;
}

.contact-info img{
  width: 25vw;
}

.contact-desc{
  margin-bottom: 2.5vw;
}

.contact-info ul li{
  margin-bottom: 1.25vw;
}

.contact-form {
  border: 0.08vw solid #ddd;
  border-radius: 0.42vw;
  padding: 1.67vw;
  margin: 0.83vw; 
  min-width: 25vw; 
}

.map {
  margin: 1.67vw auto; 
  max-width: 50vw; 
}

.map iframe {
  height: 25vw; 
}

.contact-form {
  border: 0.08vw solid #ddd;
  border-radius: 0.42vw;
  padding: 1.67vw;
  margin: 1.67vw auto;
  max-width: 41.67vw; 
  box-shadow: 0 0 0.83vw rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 1.25vw;
}

.form-group label {
  margin-bottom: 0.42vw;
}

.form-group input,
.form-group textarea {
  padding: 0.83vw; 
  border: 0.08vw solid #ccc; 
  border-radius: 0.33vw; 
}

.send-msg {
  padding: 0.83vw 1.25vw; 
  border-radius: 0.42vw; 
  font-size: 1.33vw;
}

/* guide */
.legislation-guidance{
  max-width: 90vw;
  margin: 1.67vw auto 6.67vw;
}
.lg-container {
  margin: 2.5vw 0 6.67vw;
}

.lg-card {
  border: 0.08vw solid #ddd;
  padding: 3.33vw;
  width: calc(45% - 1.67vw); 
  box-shadow: 0 0.33vw 0.83vw rgba(0, 0, 0, 0.1);
}

.lg-card img {
 width: 8.33vw;
 margin: 0 auto 2.5vw;
}

.lg-card h3{
  margin-bottom: 0.83vw;
}

.best-practices {
  margin-top: 3.33vw;
}

.best-practices li {
  margin: 0.83vw 0;
}

.best-practices li i {
  margin-right: 0.83vw;
  font-size: 1.67vw;
}
.best-practices li strong {
  width: 16.25vw;
}

}

/* smart-phone */
@media (max-width: 767.9px) {
  body {
    font-size: 3vw;
  }

  .pc {
    display: none;
  }

  .sp {
    display: block;
  }

  input {
    padding: 1.04vw;
    font-size: 2.68vw;
    letter-spacing: 0.13vw;
    border-radius: 0.52vw;
  }

  input[type="submit"] {
    padding: 1.04vw 1.82vw;
    border-radius: 1.95vw;
  }

  label {
    font-size: 3vw;
  }

  .auth-header {
    padding: 2.6vw;
  }

  header{
    z-index: 2;
    background: #CAF0F8;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  .nav-header {
    padding: 0 10px;
  }

  .h-logo {
    max-width: 35.81vw;
  }

  .h-nav {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index:99;
    width: 50%;
    height: 100vh;
    padding: 2.6vw;
    box-sizing: border-box;
    background-color: #ffffff;
    transition: all 300ms ease-in-out;
    gap: 1.95vw;
  }

  .h-nav.open {
    display: flex;
  }

  .login-btn {
    margin-top: 11.21vw;
    padding: 0.24vw 2.16vw;
    font-size: 6.13vw;
  }

  nav a {
    width: 100%;
    margin-right: 0;
    margin-bottom: 4vw;
    font-size: 4vw;
  }

  nav a:last-child {
    margin-bottom: 0;
  }

  .cmn-btn {
    padding: 1.04vw 2.08vw;
    font-size: 4.33vw;
    border-radius: 1.95vw;
  }

  .menu-bar {
    width: 30.03px;
    height: 30.03px;
    cursor: pointer;
  }

  .close-btn {
    position: absolute;
    top: 19.97px;
    right: 19.97px;
    width: 30.03px;
    height: 30.03px;
    cursor: pointer;
  }

  .search-form {
    margin: 20px auto;
    width: 70%;
  }

  input.search-box {
    width: 80%;
    margin: 0 auto;
    padding: 1.04vw 2.6vw;
    background-color: #00B4D8;
    transition: all 300ms ease-in-out;
    border-radius: 2.6vw;
  }

  input.search-box:focus {
    width: 80%;
  }

  .search-ico {
    position: absolute;
    top: 50%;
    right: 10.42vw;
    transform: translateY(-50%);
  }

  /* main-visual */
  .mv-sec {
    display: block;
  }

  .mv-sec .mv-left {
    width: 100%;
    margin-top: 0;
  }

  .mv-sec .mv-right {
    width: 80%;
    margin: 0 auto;
  }

  .mv-heading {
    margin-bottom: 3.6vw;
    font-size: 8.25vw;
  }

  .mv-sec .mv-left p {
    margin-bottom: 5.6vw;
    font-size: 4.6vw;
    letter-spacing: 0.2vw;
  }

  /* sec stay safe */
  .sec-staysafe {
    padding: 5.21vw 0;
  }

  .sub-heading {
    margin-bottom: 2.6vw;
  }

  .accordion {
    margin-top: 2.6vw;
  }

  .accordion-item {
    margin-bottom: 2.6vw;
    border: 0.26vw solid #0056b3;
    border-radius: 0.65vw;
  }

  .accordion-header {
    padding: 1.95vw;
    font-size: 3.5vw;
  }

  .accordion-header::after {
    right: 1.95vw;
  }


  .accordion-content {
    padding: 0 1.95vw;
    transform: translateY(-13.02vw);
  }

  .accordion-content.show {
    padding: 1.95vw;
  }

  .accordion-content p {
    margin: 1.3vw 0;
  }

  /* sec-popular-app */
  .sec-popular-apps {
    padding: 3.91vw 0;
  }

  .popular-apps {
    justify-content: center;
    margin-top: 3.91vw;
    gap: 3.91vw;
  }

  .app {
    width: 100%;
  }

  .app-icon {
    width: 6.51vw;
    height: 6.51vw;
    margin-bottom: 1.3vw;
  }

  /* login */
  .form-fill-blk {
    margin: 3.91vw auto;
  }

  .form-sec form {
    width: 88%;
    margin: 10% auto;
  }

  .form-input-blk {
    padding: 1.3vw;
  }

  .form-fill-blk h2 {
    font-size: 6.43vw;
  }

  .form-input-blk label {
    width: 16.93vw;
    letter-spacing: 0.16vw;
  }

  .form-input-blk input {
    padding: 1.04vw;
    font-size: 3vw;
    border-radius: 0.52vw;
}

input[type="submit"].form-btn {
  padding: 1.04vw 1.82vw;
  font-size: 3.6vw;
  border-radius: 1.95vw;
}

  .form-sec {
    width: 100%;
  }

  .signuphere-blk {
    padding-right: 2.6vw;
    letter-spacing: 0.16vw;
  }

  .back-arr {
    bottom: 2.6vw;
    left: 0.26vw;
  }

  .back-arr:hover {
    transform: translateX(-2.6vw);
  }

  .back-arr-img {
    width: 5.21vw;
  }

  /* information */
  .info-section {
    margin: 3.91vw auto;
    padding: 2.6vw;
    max-width: 143.23vw;
  }

  .mission-vision-values {
    display: block;
    margin-top: 6.51vw;
  }

  .mission-vision-values .col {
    position: relative;
    margin: 0 1.3vw;
    padding: 1.3vw;
    text-align: center;
  }

  .col:not(:last-child)::after {
    position: absolute;
    top: 103%;
    right: 0;
    width: 100%;
    height: 0.13vw;
    background-color: #fffbfb;
    content: '';
  }

  .mission-vision-values .col img {
    width: 19.53vw;
    margin: 2.6vw auto;
  }

  .campaigns-section {
    padding-top: 5.21vw;
  }

  .campaign {
    display: block;
  }

  .campaign {
    border-top: 0.13vw solid #a6a6a6;
  }

  .campaign-image {
    width: 100%;
  }

  .campaign-detail {
    width: 100%;
    padding: 3.91vw;
  }

  .campaign h3 {
    margin-bottom: 2.6vw;
  }

  .row-reverse .campaign-image {
    margin-left: 0;
  }

  /* footer */
  footer {
    padding: 2.6vw;
  }

  .footer-content {
    max-width: 104.17vw;
  }

  .current-page {
    font-size: 2.08vw;
  }

  .copyright {
    margin: 1.3vw 0;
    font-size: 1.82vw;
  }

  .social-media {
    margin-top: 1.3vw;
  }

  .social-icon {
    margin: 0 1.3vw;
  }

  /* popular-apps */

.apps-gp {
  padding: 3.91vw 0 6.51vw;
  gap: 2.6vw;
}

.app-card {
  width: 80%;
  padding: 2.6vw;
  border: 0.13vw solid #ddd;
  box-shadow: 0 0.26vw 0.65vw rgba(0, 0, 0, 0.1);
  border-radius: 1.04vw; 
}

.app-card img {
  width: 10.42vw;
  height: 10.42vw;
  margin: 0 auto 2.6vw;
}

.app-card h3 {
  margin-bottom: 1.3vw;
}
/* livestream */
.overview{
  padding: 10vw 6vw 6vw;
}
.safety-tips {
  padding: 10.42vw 6vw; 
}

.safety-tips ul {
  margin-left: 2.6vw;
}

.safety-tips li {
  margin: 1.3vw 0;
  font-size: 1.2em;
}

/* contact */

.contact-container {
  margin: 0 auto; 
  padding: 2.6vw;
  max-width: 156.25vw;
}

.contact-info img{
  width: 39.06vw;
}

.contact-info h2 {
  text-align: center;
}

.contact-desc{
  margin-bottom: 3.91vw;
}

.contact-info ul li{
  margin-bottom: 1.95vw;
}

.contact-form {
  border: 0.13vw solid #ddd;
  border-radius: 0.65vw;
  padding: 2.6vw;
  margin: 1.3vw; 
  min-width: 39.06vw; 
}

.map {
  margin: 2.6vw auto; 
  max-width: 78.13vw; 
}

.map iframe {
  height: 39.06vw; 
}

.contact-form {
  border: 0.13vw solid #ddd;
  border-radius: 0.65vw;
  padding: 2.6vw;
  margin: 2.6vw auto;
  max-width: 65.1vw; 
  box-shadow: 0 0 1.3vw rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 1.95vw;
}

.form-group label {
  margin-bottom: 0.65vw;
}

.form-group input,
.form-group textarea {
  padding: 1.3vw; 
  border: 0.13vw solid #ccc; 
  border-radius: 0.52vw; 
}

.send-msg {
  padding: 1.3vw 1.95vw; 
  border-radius: 0.65vw; 
  font-size: 3vw;
}

/* guide */
.legislation-guidance{
  max-width: 100%;
  margin: 5.21vw 3.6vw 10.42vw;
}
.lg-container {
  margin: 3.91vw 0 10.42vw;
}

.lg-card {
  border: 0.13vw solid #ddd;
  padding: 5.2vw;
  width: 100%; 
  box-shadow: 0 0.52vw 1.3vw rgba(0, 0, 0, 0.1);
}

.lg-card img {
 width: 13.02vw;
 margin: 0 auto 3.91vw;
}

.lg-card h3{
  margin-bottom: 1.3vw;
}

.best-practices {
  margin-top: 5.2vw;
}

.best-practices li {
  margin: 1.3vw 0;
}

.best-practices li i {
  margin-right: 1.3vw;
  font-size: 2.61vw;
}
.best-practices li strong {
  width: 25.39vw;
}

}